<div class="container">
    <form [formGroup]="transferForm" (ngSubmit)="doTransfer()">
      <div class="row large-box mat-elevation-z3" style="width: 100%;">
        <mat-card class="header"> 
          <mat-card-title>Transfer amount</mat-card-title>  
        </mat-card> 
    <div class="col-md-6">
        <mat-form-field appearance="fill">
            <mat-label>Select your account</mat-label>
            <mat-select [formControl]="transferForm.controls['senderAccountId']" required>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let account of accounts" [value]="account.accountId" >{{account.accountId}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div> 

    <div class="col-md-6">
    
        <p>
        <mat-form-field class="text-full-width" appearance="standard">
          <mat-label>Receiver's account #</mat-label>
          <input matInput placeholder="Receiver's account number"  [formControl] = "transferForm.controls['receiversAccountId']"/>
        </mat-form-field>
        </p>
    
      </div>

  <div class="col-md-6">
    
    <p>
    <mat-form-field class="text-full-width" appearance="standard">
      <mat-label>Amount to be transfred</mat-label>
      <input matInput type="number" placeholder="Amount to be transfred" name = "initialValue" [formControl] = "transferForm.controls['amount']"/>
    </mat-form-field>
    </p>

  </div>

  <div class="col-md-12"  style="align-content: left;">
    <span matTooltip="Transfer amount">
    <button type="submit" mat-raised-button [disabled]="!transferForm.valid">
      <mat-icon color="accent">send</mat-icon>
      <span>Transfer</span>
      
    </button>
    </span> 
  </div>

    </div>
</form>
</div>