
<div class="topnav" id="myTopnav"> 
  <span *ngIf="authService.isUserLoggedIn()">
    <button mat-button routerLink="logout" routerLinkActive="active"> 
      <span>Log out</span>
    </button>
  </span>
  <span *ngIf="!(authService.isUserLoggedIn())">
    <button mat-button routerLink="login" routerLinkActive="active"> 
      <span>Login</span>
    </button>
  </span> 
  <span *ngIf="!(authService.isUserLoggedIn())">
    <button mat-button routerLink="register" routerLinkActive="active"> 
      <span>Open Account</span>
    </button>
  </span>
  <span *ngIf="authService.isUserLoggedIn()">
  <button mat-button routerLink="transfer" routerLinkActive="active"> 
    <span>Transfer Money</span>
  </button>
  </span>
  <span *ngIf="authService.isUserLoggedIn()">
    <button mat-button routerLink="transaction" routerLinkActive="active"> 
      <span>My Profile</span>
    </button>
  </span>
  <span *ngIf="authService.isUserLoggedIn()">
    <button mat-button routerLink="myTransaction" routerLinkActive="active"> 
      <span>My Transaction</span>
    </button>
  </span>
</div>

<div class="content-area"> 
  <h1 style="display: none;">Jai Ram G ki</h1>
  <router-outlet></router-outlet>
</div>