<div class="container">

    <table style="width: 90%;" align="center" >
        <tr style="background-color: orange; color: white;">
            <th>User Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>User Type</th>
            <th>Status</th>
            <th>Profile Created On</th> 
        </tr>
        <tr>
            <td>{{user.firstName+" "+user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.address}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.userStatus}}</td>
            <td>{{user.profileCreationTimeStamp | date: 'fullDate'}}</td>
        </tr>
    </table>
    <br>
    <hr>
    <br>
    <h3>Account details</h3>
    <span>
        <button mat-button (click)="openAccount()"> 
            <span>Add Account</span>
        </button>
    </span>
    <br>
    <br>
    <table style="width: 90%;" align="center" >
        <tr style="background-color: orange; color: white;">
            <th>Account Id</th>
            <th>Account Type</th>
            <th>Total amount</th> 
            <th>Account Created On</th> 
        </tr>
        <tr *ngFor="let account of user.associatedAccounts"> 
            <td>{{account.accountId}}</td>
            <td>{{account.accountType}}</td>
            <td>{{account.amount}}</td>
            <td>{{account.accountCreationTimeStamp | date: 'fullDate'}}</td>
        </tr>
    </table>
</div>